input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sectiontextarea textarea {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  resize: none;
  border: 0;
  color: #212529;
}

textarea:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.checkBtn label {
  display: flex;
  max-width: 100%;
  min-width: 100%;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // background-color: #f8f8f8;
  color: #82838c;
  margin: 0;
  font-size: 3em;
}

.checkesperado label {
  display: flex;
  max-width: 100%;
  min-width: 100%;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // background-color: #f8f8f8;
  color: #82838c;
  margin: 0;
  font-size: 3em;
}
// .checkBtn label:hover {
//       background: #dbdcde;
// }

.checkBtn input[type=checkbox]:checked + label {
  background-color: #17a2b8;
  color: #fff !important;
}

.checkBtn input[type=checkbox]:checked + label +i {
  background-color: #17a2b8;
  color: #fff !important;
}

.checkBtn input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.checkesperado input[type=checkbox]:checked + label {
  background-color: #666666;
  color: #fff !important;
}

.checkesperado input[type=checkbox]:checked + label +i {
  background-color: #666666;
  color: #fff !important;
}

.checkesperado input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.table-programa-anual {
  .display {
    display: none;
  }

  .display-button {
    display: none;
  }

  h1 {
    font-size: 200%;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  th {
    // background: #333;
    color: white;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #ccc;
  }

  td {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }
  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    .table tbody,
    .table td,
    .table th,
    .table thead,
    .table tr,
    table.table {
      display: block;
    }

    .hide-sm{
      display: none !important;
    }

    td.display-none {
      display: none !important;
    }

    .display-button {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .table tr {
      border: 1px solid #ccc;
    }

    .table td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    .table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    textarea {
      position: relative !important;
      padding: 0 !important;
    }
    /*
	Label the data
	*/
    .table td:before {
      content: attr(data-table-header);
      font-weight: bold;
    }
  }
}
